@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  overflow-x: auto;
}
.custom-loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #766df4 94%, #0000) top/16px 16px
      no-repeat,
    conic-gradient(#0000 30%, #766df4);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

.text-title {
  white-space: nowrap; /* Mencegah teks wrap ke baris baru */
  overflow: hidden; /* Mengatur teks yang melebihi lebar untuk disembunyikan */
  text-overflow: ellipsis; /* Menambahkan titik-titik untuk teks yang terpotong */
}
.grid-event {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-seat {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.grid-time {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}

@media screen and (min-width: 1024px) {
  .grid-event {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .grid-event {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
  }
}
